@model App.Domain.Entites.Product
<div class="list-group-item">
    <h3>@Model.Name</h3>
    <p>
        @Model.Descr
    </p>
    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+Add to cart" class="btn-success" />
    }
    <h4>@Model.Price.ToString("c")</h4>
</div>
